{% extends 'User_Account/base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
      <div class="card mb-2">
        <div class="card-body">
          {% for p in product %}
          <h5>{{p.Brand}} {{p.PName}} (x{{p.Quantity}})</p>
          <p class="fw-bold">Price : Rs. {{p.Price}}/-</p>
          {% endfor %}
          
          
        </div>
      </div>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    
    <hr>
    <form action="">
      <div class="card">
        <div class="card-body">
        {% for a in Address %}
        <h5>{{a.Name}}</h5>
        <h6>{{a.Phone}}</h6>
        <h5>{{m}}</h5>
        <p>{{a.house_no}} {{a.Road_name}} <br>{{a.State}} {{a.Pincode}}</p>
        {% endfor %}
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <a href="{% url "edit_address" %}" class="btn btn-primary mt-3 px-3 fw-bold"  rel="noopener noreferrer">ADD / EDIT</a>
            
        </div>
        <div class="text-end">
          <h2>Rs. {{tp}}/-</h2>
          {% if Address %}
          <a href="{% url "success" %}" class="btn btn-warning mt-3 px-5 fw-bold">Continue</a>
          {% else %}
          <button type="submit"  class="btn btn-warning mt-3 px-5 fw-bold" disabled>Continue</button>
          {% endif %}
          
          
        </div>
        
      </div>
  </div>
</div>

{% endblock main-content %}