<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 20px;">
    <p>Dear {{data.Name}},</p>
    <p>I hope this email finds you well. Thank you for choosing {{data.Company}}. To ensure the security of your account, we require a one-time password (OTP) verification.</p>
    <p>Please find your OTP below:</p>
    <p style="font-size: 18px; font-weight: bold;">{{data.otp}}</p>
    <p><strong>The OTP will expire in 5 Minutes</strong></p>
    <p>Kindly use this OTP to complete the verification process on our platform. If you did not initiate this request, please contact our customer support immediately at ritikmehradec@gmail.com .</p>

    <p>We appreciate your trust in {{data.Company}} and look forward to providing you with a secure and seamless experience.</p>

    <span>Follow us: </span>
    <div style="display: flex; justify-content: center; align-items: center;">
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #E1306C; color: white; text-decoration: none; font-size:10px">
        Instagram
    </a>
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #1da1f2; color: white; text-decoration: none; font-size:10px">
        Twitter
    </a>
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #0077B5; color: white; text-decoration: none; font-size:10px">
        LinkedIn
    </a>
    </div>

</body>
</html>