<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed Notification</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <h2>Password Changed Notification</h2>
        <p>Hello {{data.Name}},</p>
        <p>This is to inform you that your password has been successfully changed.</p>
        <p>If you did not initiate this change, please contact us immediately at ritikmehradec@gmail.com to secure your account.</p>
        <p>Thank you for using our services.</p>
        <p>Best regards,<br>{{data.Company}}</p>
    </div>
    <span>Follow us: </span>
    <div style="display: flex; justify-content: center; align-items: center;">
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #E1306C; color: white; text-decoration: none; font-size:10px">
        Instagram
    </a>
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #1da1f2; color: white; text-decoration: none; font-size:10px">
        Twitter
    </a>
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #0077B5; color: white; text-decoration: none; font-size:10px">
        LinkedIn
    </a>
    </div>
</body>
</html>
