<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful - {{data.Company}}</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 20px;">

    <p>Dear {{data.Name}},</p>

    <p>Congratulations! Your registration with {{data.Company}} is successful. We are thrilled to welcome you to our growing community of shoppers.</p>

    <p>At {{data.Company}}, we strive to provide you with a seamless and enjoyable online shopping experience. With your account, you can explore a wide range of products, track your orders, and enjoy exclusive offers tailored just for you.</p>

    <p>If you have any questions or need assistance, feel free to reach out to our customer support team at ritikmehradec@gmail.com.</p>

    <p>We appreciate your trust in {{data.Company}} and look forward to serving you with the best online shopping experience.</p>

    <p>Happy shopping!</p>

    <p>Best regards,<br>
    {{data.Company}}<br>
    ritikmehradec@gmail.com</p>

    <span>Follow us: </span>
    <div style="display: flex; justify-content: center; align-items: center;">
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #E1306C; color: white; text-decoration: none; font-size:10px">
        Instagram
    </a>
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #1da1f2; color: white; text-decoration: none; font-size:10px">
        Twitter
    </a>
    <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #0077B5; color: white; text-decoration: none; font-size:10px">
        LinkedIn
    </a>
    </div>

</body>
</html>
