.owl-carousel .item{
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

.error{
    
    color: red;
    font-size:18px;
    text-align: center;
}

.success{
    color:green;
    font-size:20px;
    text-align: center;
    
}


.success_1{
    color:green;
    font-size:20px;
    text-align: center;
    display: none;
    width: 98%;
}

.fail{
    color:red;
    font-size:20px;
    text-align: center;
    display: none;
    width: 98%;
}

.Product_info{
    text-decoration: none;
    color: black;
}

/* 


/* Custom CSS */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar-brand,
.navbar-nav .nav-link.active,
.navbar-nav .nav-item .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link { */
    /* color: #920f0f; */
/* } */

/* .dropdown-menu .dropdown-item,
.navbar-nav .nav-link.dropdown-toggle {
    font-size: 16px;
    /* font-weight: bold; */
/* } */ 

/* .form-control {
    border-radius: 4px;
}

.btn-warning {
    border-radius: 20px;
    background-color: #ffc107;
    border: none;
    color: #000;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer img {
    width: 120px;
}


 */




/* sdsfdkjls */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar-brand,
.navbar-nav .nav-link {
    font-weight: bold;
    color: #333; /* Dark color for links */
}

.navbar-toggler-icon {
    background-color: #333; /* Dark color for toggler icon */
}

.dropdown-menu .dropdown-item,
.navbar-nav .nav-link.dropdown-toggle {
    font-size: 16px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.btn-warning {
    border-radius: 20px;
    background-color: #ffc107;
    border: none;
    color: #000;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer img {
    width: 120px;
}

