{% extends 'User_Account/base.html' %}
{% load static %}
{% block title %}Categories{% endblock title %}
{% block main-content %}
<style>
    .item-container {
        width: 100%; /* Adjust width to fit within container */
        max-width: 380px; /* Set maximum width for each item */
        height: auto; /* Allow height to adjust based on content */
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }
    .item {
        text-align: center;
        padding: 10px; /* Add padding for better appearance */
    }
    .item img {
        max-width: 100%; /* Ensure image fits within its container */
        height: auto; /* Allow height to adjust based on width */
        display: block;
        margin: 0 auto;
    }
</style>
<div class="container my-5">
    <div class="row">
        {% for t in P %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="{% url 'Product_Details' t.PID %}" class="btn">
                <div class="item-container">
                    <div class="item">
                        <img class="lazy-load" data-src="{{t.PImage.url}}" alt="Images render here">
                        <noscript><img src="{{t.PImage.url}}" alt="Images render here"></noscript>
                        <br>
                        <span class="fw-bold">{{t}}<br></span>
                        <span class="fs-5">&#8377;{{t.Price}}/-</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var lazyImages = [].slice.call(document.querySelectorAll(".lazy-load"));
        
        if ("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                        let lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                        lazyImage.classList.remove("lazy-load");
                        lazyImageObserver.unobserve(lazyImage);
                    }
                });
            });
    
            lazyImages.forEach(function(lazyImage) {
                lazyImageObserver.observe(lazyImage);
            });
        }
    });
</script>
{% endblock main-content %}
